			<div class="content-background background--donkerblauw">
                <div class="content">
                    <h2>Bijeenkomsten</h2>
                    <ul class="list list--links list--chevrons">
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 1 }) }}"><b>12-3-2020 Amsterdam</b><br/>De staat
                                van de stad</a>
                        </li>
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 2 }) }}"><b>12-3-2020 Den Haag</b><br/>De staat
                                van de stad</a>
                        </li>
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 3 }) }}"><b>12-3-2020 Utrecht</b><br/>De staat
                                van de stad</a>
                        </li>
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 1 }) }}"><b>12-3-2020 Amsterdam</b><br/>De staat
                                van de stad</a>
                        </li>
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 2 }) }}"><b>12-3-2020 Den Haag</b><br/>De staat
                                van de stad</a>
                        </li>
                        <li>
                            <a href="{{ path('app_event_view', { 'id': 3 }) }}"><b>12-3-2020 Utrecht</b><br/>De staat
                                van de stad</a>
                        </li>
                    </ul>
                </div><!-- /.content -->
            </div><!-- /.content-background -->