<ul class="list list--card list--card-small">

    {% for item in items %}

        <li class="card card--small">
            <a href="{% if view is defined %}{{ path(view, {id: item.id}) }}{% else %}#{% endif %}"
               class="card__content">
                <div class="card__thumb"
                     style="background-image: url('https://picsum.photos/id/1/200')"></div>
                <div class="card__body"><span class="card__title">{{ item.name }}</span>
                    <p>{{ item.description }}

                        {% if item.writer is defined and item.writer is not empty %}
                            <br><br>
                            <b>{{ item.writer }}</b> <span class="label label--rood">{{ item.createdAt }}</span>{% if item.source is defined and item.source is not empty %}<br>{{ item.source }}{% endif %}
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>

    {% endfor %}

</ul>
    
{% if index is defined and index is not empty %}    	
<a href="{{  path(index) }}" class="btn btn--primary btn--block" ><span class="btn__content">Bekijk meer  <i class="btn__icon icon icon-arr-forward" title="" role=""></i></span></a>
{% endif %}


